<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UI_InvestmentMangement.TestSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UI_InvestmentMangement.TestSettings>
            <setting name="ReportFilePath" serializeAs="String">
                <value>C:\TestOutput</value>
            </setting>
            <setting name="WebURL" serializeAs="String">
                <value>https://streamdatum-dev2-im.azurewebsites.net</value>
            </setting>
            <setting name="LoginUserId" serializeAs="String">
                <value>im.user@streamrealty.com</value>
            </setting>
            <setting name="LoginPassword" serializeAs="String">
                <value>Stream2002#</value>
            </setting>
        </UI_InvestmentMangement.TestSettings>
    </userSettings>
</configuration>